@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Space Grotesk";
}
body {
  background-color: #1c233d;
}
.footer_color {
  background-color: #1e2b4b;
  margin-top: 3%;
}
.footer_title {
  color: white;
}
.footer_text {
  color: white;
}
.footer_btn {
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.0945738) -105.02%,
    #c367e6 10.94%,
    rgba(190, 206, 239, 0) 121.57%
  );
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.container_footer1 {
  background-color: #1e2b4b;
}

.headcolor {
  background-color: #1c233d;
}
.navbar-brand {
  color: #fef9f9;
  margin-left: 30px;
}

.nav-link {
  color: #e5e5e5;
}
.navcolor {
  color: #e5e5e5;
}

.navcolor2 {
  color: hsl(0, 0%, 90%);
  margin-left: 25px;
}

.nav-link {
  color: #e5e5e5;
}

.btn {
  background: linear-gradient(
    85.76deg,
    #b469d8 -105.02%,
    #be68e2 -25.38%,
    #c367e6 10.94%,
    rgba(190, 206, 239, 0) 121.57%
  );
  border-radius: 5px;
  border: none;
}

.nav-link:hover {
  color: #c367e6;
}
.navbar-brand:hover {
  color: #c367e6;
}

/*  */
#navbarSupportedContent {
  margin-left: 60px;
}

/* поисковик(search) */
.d-flex {
  margin-right: 30px;
}
/* УЛАН */
.section3 {
  background-color: #1c233d;
}

.section3__nft {
  display: flex;
  color: #b469d8;
  justify-content: center;
}

.section3__yours {
  color: white;
}

.section3__yours {
  display: flex;
  justify-content: center;
}
.section3__yours h2 {
  margin-top: 4%;
}

.section3__cards {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  justify-content: space-around;
}
.cardcolor {
  background-color: #30384d;
}

.card-body {
  background-color: #30384d;
}

.section3__buttons {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.btn-color {
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.0945738) -105.02%,
    #c367e6 10.94%,
    rgba(190, 206, 239, 0) 121.57%
  );
  border-radius: 5px;
  border: 0;
  margin-left: 600px;
}

.btn-color2 {
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.0945738) -105.02%,
    #e5e5ee 10.94%,
    rgba(190, 206, 239, 0) 121.57%
  );
  border-radius: 5px;
  margin-right: 600px;
}

.section3__buttons {
  display: flex;
  justify-content: space-evenly;
}
/* УЛАН */
