@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Space Grotesk";
}
body {
  background-color: #1c233d;
}
.footer_color {
  background-color: #1e2b4b;
}
.footer_title {
  color: white;
}
.footer_text {
  color: white;
}
.footer_btn {
  background: linear-gradient(
    85.76deg,
    rgba(191, 196, 238, 0.0945738) -105.02%,
    #c367e6 10.94%,
    rgba(190, 206, 239, 0) 121.57%
  );
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.container_footer1 {
  background-color: #1e2b4b;
}
