.nft {
  color: #9c76b8;
}
.section2 {
  display: flex;
  justify-content: center;
}
.hot1 {
  display: flex;
  justify-content: center;
}
.hot1 h4 {
  color: white;
}

.hot1 {
  display: flex;
  justify-content: center;
  /* margin-left: 30px; */
}

.knopka {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 3%;
}

.kartinka {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  justify-content: space-around;
}

.kartinka2 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 5%;
}
.cardcolor1 {
  background-color: #30384d;
}

.card-body {
  display: flex;

  /* flex-direction: column; */
}
.icons {
  padding-left: 110px;
  padding-bottom: 45px;
}

.cardcolor2 {
  background-color: #30384d;
}

.cardcolor3 {
  background-color: #30384d;
}
.cardcolor4 {
  background-color: #30384d;
}
.cardcolor5 {
  background-color: #30384d;
}
.cardcolor6 {
  background-color: #30384d;
}

.knopka2 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.icons1 {
  padding-left: 110px;
  padding-bottom: 45px;
}

.icons2 {
  padding-left: 110px;
  padding-bottom: 45px;
}

.icons3 {
  padding-left: 110px;
  padding-bottom: 45px;
}

.icons4 {
  padding-left: 110px;
  padding-bottom: 45px;
}
.icons5 {
  padding-left: 110px;
  padding-bottom: 45px;
}
.icons {
  padding-left: 110px;
  padding-bottom: 45px;
}
.knopka {
  display: flex;
  justify-content: space-evenly;
}

.btn-color {
  background-color: #3d2a3d;
  border: none;
}
